html
    head
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        script(src="/vendor/angular/angular.js")
        script(src="/vendor/angular-route/angular-route.js")
        script(src="/app/app.js")
    body(ng-app="myWorld")
        ul.nav.nav-tabs
            li
                a(href="/") Home
            li
                a(href="/things") Things 
            li
                a(href="/people") People 
                
        .container
        
            .well Welcome to My World {{ 5*5*5 }}
            
            div(ng-view)